alembic==1.12.1
asyncpg==0.29.0
coverage==7.3.2
fastapi==0.104.1
httpx==0.25.1
pre-commit==3.5.0
psycopg2-binary==2.9.9
pydantic-settings==2.1.0
pytest-asyncio==0.21.1
sqlalchemy==2.0.23
sqlalchemy-utils==0.41.1
uvicorn==0.24.0.post1
